extends layout

block content
  h1=title
  p Welcome to #{title}
  p #{user.username} Hello!
  p number: #{number}
  p allCount #{reviewsAllCount}
  p paper #{countFormatPaper}
  p e #{countFormatElectronic}
  p study #{countCategoryStudy}
  p entertainment #{countCategoryEntertainment}
  